<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" />
    <!-- Masthead Heading-->
    <app-title [title]="'Jesus David Alvear Meriño'" [dark]="false"></app-title>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</header>
