<!-- About Section-->
<section class="page-section bg-success text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Heading-->
      <app-title [title]="'Acerca de'" [dark]="false"></app-title>
      <!-- About Section Content-->
      <div class="row">
          <div class="col-lg-6 mx-auto">
              <p class="h6 text-justify">
                  Soy una persona responsable, honesta con facilidad y disposición para aprender e interesada por la actualización profesional con la capacidad para implementar <br><br>
                  Sistemas de acurdo a los requerimientos del cliente. <br><br>
                  Aplicar buenas prácticas de calidad en el proceso de desarrollo de software, de acuerdo con el referente adoptado en la empresa. <br><br>
                  Conocimientos en desarrollo web con angular (front end) y básico en SQL server, c# y Python
              </p>
          </div>
       </div>
      <!-- About Section Button-->
 <!--      <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" type="button" (click)="downloadDdf()">
              <i class="fas fa-download mr-2"></i>
              Descargar
          </a>
      </div> -->
  </div>
</section>
