<!-- About Section-->
<section class="page-section bg-success text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Heading-->
      <app-title [title]="'Acerca de'" [dark]="false"></app-title>
      <!-- About Section Content-->
      <div class="row">
          <div class="col-lg-4 ml-auto"><p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, exercitationem in? Quia ea suscipit id vitae. Nisi tenetur optio odio omnis recusandae, sed laudantium asperiores placeat odit quasi, ducimus ut!</p></div>
          <div class="col-lg-4 mr-auto"><p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit explicabo soluta blanditiis et assumenda adipisci rem labore nihil facilis facere aliquam repudiandae optio officiis ratione cupiditate, commodi libero! Reiciendis, consequuntur!</p></div>
      </div>
      <!-- About Section Button-->
    <!--   <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
              <i class="fas fa-download mr-2"></i>
              Descargar
          </a>
      </div> -->
  </div>
</section>
